Main Workflow.json
{
  "name": "Biomate",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        0
      ],
      "id": "d7759a99-790a-4eb7-affa-d3a5fc13a1e3",
      "name": "Telegram Trigger",
      "webhookId": "f4f0c8f2-eab3-47bf-9028-806d505d9a3b",
      "credentials": {
        "telegramApi": {
          "id": "861qB5dsQ3nRy5I0",
          "name": "Biomate Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Process this image/pdf file",
        "options": {
          "systemMessage": "You are a helpful assistant, named Jono, and your task is to handle intelligent document processing \n##Tools\n1. Call the PDF Processing tool to handle any OCR for PDF document processing.\n2. Call the Images Processing tool to handle any OCR for image processing. When user calls this tool, please start it immediately. \nThe image/pdf will be passed through an ID and processed on the sub-agent. No need to verify\n\n\nExtract all line items into JSON with the following schema:\n{\n  \"Quantity\": string,\n  \"Barcode\": string,\n  \"ProductName\": string,\n  \"UnitPrice\": string,\n  \"Total\": string\n}\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        304,
        0
      ],
      "id": "f138a6d6-a03f-4fca-b85e-50cf599f5b69",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        48,
        208
      ],
      "id": "a66a1584-846e-4b00-b2ed-805ca2d9d57d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "JMU0GnTLiQsTWnkU",
          "name": "dog789"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        208,
        208
      ],
      "id": "e611055e-d519-4d63-aea9-cc3912b4285f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        736,
        0
      ],
      "id": "ab61cd34-558d-4364-b764-47970c64a229",
      "name": "Send a text message",
      "webhookId": "6064ea21-04ab-47c2-b700-0f447e362904",
      "credentials": {
        "telegramApi": {
          "id": "861qB5dsQ3nRy5I0",
          "name": "Biomate Bot"
        }
      }
    },
    {
      "parameters": {
        "description": "=Call this tool to pull out any data from a PDF file",
        "workflowId": {
          "__rl": true,
          "value": "lTldGGgSNSR0Gkte",
          "mode": "list",
          "cachedResultUrl": "/workflow/lTldGGgSNSR0Gkte",
          "cachedResultName": "PDF Processing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "Process this PDF",
            "id": "={{ $('Get a file').item.json.result.file_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        368,
        208
      ],
      "id": "83466f1b-11ee-4216-8532-6932639cb2f3",
      "name": "PDF Processing"
    },
    {
      "parameters": {
        "description": "=Call this tool to pull out any data from a image file (JPG, PNG, etc)",
        "workflowId": {
          "__rl": true,
          "value": "3Z2PTUWe1pPIVrwT",
          "mode": "list",
          "cachedResultUrl": "/workflow/3Z2PTUWe1pPIVrwT",
          "cachedResultName": "Images Processing"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "message": "Process this image",
            "id": "={{ $json.result.file_id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "message",
              "displayName": "message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        528,
        208
      ],
      "id": "a415ac1c-eb20-48e7-976c-9cfc12fe58e8",
      "name": "Images Processing"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.document.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        0
      ],
      "id": "dcb71f4a-1d31-4f0d-b7a4-9e3e5f5ab3e8",
      "name": "Get a file",
      "webhookId": "17f96495-b334-4212-b867-6646567e67eb",
      "credentials": {
        "telegramApi": {
          "id": "861qB5dsQ3nRy5I0",
          "name": "Biomate Bot"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PDF Processing": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Images Processing": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fcd6f0ec-e14d-487b-916a-0b92cfc220cb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c8f1d517890d3d7fddb17ab666c835e90249eef5ea4f5af48d6f09775300b4a3"
  },
  "id": "hYe8ckRzdLViDu5K",
  "tags": []
}